{% extends 'dashboard/base_member.html' %}

{% load static %}


{% block content %}

<div class="container mt-3" style="min-height: 70vh; ">


<form method="post">
    {% csrf_token %}
   

    
    <div class="mb-3">
        <label for="date" class="col-3 col-form-label">Leave Start Date</label>
        <div class="col-5">
          <div class="input-group date" id="datepicker">
            <input type="date" class="form-control" id="startdate"/>
          </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="date" class="col-3 col-form-label">Leave End Date</label>
        <div class="col-5">
          <div class="input-group date" id="datepicker">
            <input type="date" class="form-control" id="enddate"/>
          </div>
        </div>
    </div>

    <div class="mb-3">
        <div class="col-5">
            <label for="exampleFormControlTextarea1" class="form-label">Reason</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}