nav{
    background: rgb(212, 230, 254) !important;
    box-shadow: -1px 5px 5px 0px rgba(0,0,0,0.25);
}


.nav-item a{
    
    margin: .8rem;
    font-weight: 400;
    font-size: 1.1rem;
}

.active{
    background-color: rgb(44, 72, 183);
    color: aliceblue !important;
    border-radius: .4rem;
}



.land-container{
    display: grid;
    grid-template-columns: 3fr 2fr;

    background-color: rgb(255, 255, 255);
    min-height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.imagearea{
    padding: 2rem;
    padding-left: 0rem;
}

footer {
    text-align: center;
}

.container{
    min-height: 70vh !important;
}